/.ipynb_checkpoints
*.csv
.csv
csv
*.h5
*.pb
*.txt
*.bat
models/
venv
.venv
acoes/_pycache_/

*.pdf

**/__pycache__

# Ignora tudo dentro de App_site
finance/App_site/*
finance/Trade_Bot/logs*
finance/Trade_Bot/data*
.trae/*

.env